<template name="gameTemplate">
    <div class="letter-grid">
        {{#each gameData.tiles}}
            {{#if equals selectedTile _id}}
                <div class="tile-elem selected"
                     id="tile-{{_id}}">
                    {{letter}}
                </div>
            {{else}}
                <div class="tile-elem" id="tile-{{_id}}">
                    {{letter}}
                </div>
            {{/if}}
        {{/each}}
    </div>

    <hr>

    <div class="rack">
        {{#each gameData.rack}}
            <div class="letter-elem"
                 id="rack-letter-{{_id}}">
                {{letter}}
            </div>
        {{/each}}

        <input type="button" id="recall-btn"
               value="Recall">
        <input type="button" id="submit-move-btn"
               value="Submit move">
    </div>
</template>