<template name="gameTemplate">
    <div class="letter-grid">
        {{#each gameData.tiles}}
            <div class="tile-elem-container">
                <div class="tile-elem {{multClass}}" id="tile-{{_id}}">
                    {{{multText}}}
                </div>
                <div class="tile-letter {{filledClass}}
                     {{selectedClass}}" id="letter-{{_id}}">
                    {{letter}}
                </div>
                {{#if letter}}
                    <div class="tile-score">
                        {{score}}
                    </div>
                {{/if}}
            </div>
        {{/each}}
    </div>

    <hr>

    <div class="my-score">
        Your points: {{myScore}}
    </div>

    <div class="rack">
        {{#each gameData.rack}}
            <div class="tile-elem-container">
                <div class="rack-letter" id="rack-letter-{{_id}}">
                    {{letter}}
                </div>
                {{#if letter}}
                    <div class="tile-score">
                        {{score}}
                    </div>
                {{/if}}
            </div>
        {{/each}}

        <input type="button" id="recall-btn"
               value="Recall">
        <input type="button" id="submit-move-btn"
               value="Submit move">
    </div>
</template>