.grid-block, .shard {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
    background: #eee;
    color: #666;
}

#main {
    position: relative;
}

.jumbotron {
    text-align: center;
}
.jumbotron h2 {
    font-size: 60px;
    font-weight: 100;
}

.game-rooms-container {
    margin: 0;
    -moz-column-width: 16em;
    -webkit-column-width: 16em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
}

.left-col {
    border-right: 1px solid #eee;
}

.right-col {
    border-left: 1px solid #eee;
}

.game-room {
    display: inline-block;
    padding:  .25rem 15px;
    width:  100%;
}

.game-room-well {
    position: relative;
    display: block;
}