.grid-block, .shard {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
    background: #eee;
    color: #666;
}

#main {
    position: relative;
}

.jumbotron {
    text-align: center;
}
.jumbotron h2 {
    font-size: 60px;
    font-weight: 100;
}

.game-rooms-container {
    margin: 0;
    -moz-column-width: 16em;
    -webkit-column-width: 16em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
}

.left-col {
    border-right: 1px solid #eee;
}

.right-col {
    border-left: 1px solid #eee;
}

.game-room {
    display: inline-block;
    padding:  .25rem 15px 15px;
    width:  100%;
}

.game-room-well {
    position: relative;
    display: block;
}

@-webkit-keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.errors{
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}

.letter-grid {
    width: 400px;
    height: 400px;
    margin: 0px auto;
}

.letter-grid .letter-elem {
    width: 10%;
    height: 10%;
    float: left;
    border: 1px solid #ccc;
    text-align: center;
}