html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -6em;
}

footer, .wrapper .push {
    height: 6em;
}

footer {
    background: #dddcd6;
}

footer .ghb-cont {
    text-align: left;
    margin-top: 2rem;
}

footer .credit {
    text-align: right;
    margin-top: 2rem;
}

.grid-block, .shard {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

body {
    background: #eee;
    color: #666;
}

#main {
    position: relative;
}

.jumbotron {
    text-align: center;
}
.jumbotron h2 {
    font-size: 60px;
    font-weight: 100;
}

.game-rooms-container {
    margin: 0;
    -moz-column-width: 16em;
    -webkit-column-width: 16em;
    -moz-column-gap: 1em;
    -webkit-column-gap:1em;
}

.game-room-page {
    margin-bottom: 20px;
}

.left-col {
    border-right: 1px solid #eee;
}

.right-col {
    border-left: 1px solid #eee;
}

.game-room {
    display: inline-block;
    padding:  .25rem 15px 15px;
    width:  100%;
}

.game-room-well {
    position: relative;
    display: block;
}

@-webkit-keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fadeOut {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}

.errors{
    position: fixed;
    z-index: 10000;
    padding: 10px;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: none;
}

.alert {
    animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    -moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
    width: 250px;
    float: right;
    clear: both;
    margin-bottom: 5px;
    pointer-events: auto;
}

.game-container {
    margin-bottom: 1em;
}

.room-title {
    text-align: center;
}

.letter-grid {
    width: 450px;
    height: 450px;
    margin: 0px auto;
    font-size: 16px;
    line-height: 30px;
    position: relative;
}

.letter-grid * {
    margin: 0;
    padding: 0;
}

.letter-grid .tile-elem-container {
    width: 6.66%;
    height: 6.66%;
    float: left;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
}

.tile-elem-container .tile-elem {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #DCDCDC;
    z-index: 0;
}

.tile-elem-container .tile-letter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    z-index: 1;
}

.tile-elem-container .tile-score {
    position: absolute;
    right: 2px;
    bottom: 1px;
    font-size: 11px;
    line-height: 11px;
    overflow: hidden;
    border-radius: 3px;
    font-weight: bold;
    z-index: 1;
}

.tile-elem-container .tile-elem.center {
    background-color: #9f0000;
    border: 1px solid #9d0000;
}

.tile-elem-container .tile-elem.mult-dl {
    background-color: #f26282;
    border: 1px solid #e86265;
}

.tile-elem-container .tile-elem.mult-tl {
    background-color: #00dbd3;
    border: 1px solid #4cb6c0;
}

.tile-elem-container .tile-elem.mult-dw {
    background-color: #279c23;
    border: 1px solid #207f1f;
}

.tile-elem-container .tile-elem.mult-tw {
    background-color: #666666;
    border: 1px solid #474747;
}

.tile-elem-container .tile-letter.with-letter {
    background: rgba(255,255,255,0.82);
    border: 1px solid #DCDCDC;
}

.tile-elem-container .tile-letter.filled {
    background-color: rgba(243, 245, 65, 0.85);
    border: 1px solid #dfd439;
}

.tile-elem-container .tile-letter.selected {
    background-color: rgba(228,228,228,0.85);
    border: 1px solid #bababa;
}

.tile-elem-container .tile-letter.filled.selected {
    background-color: rgba(210, 207, 4, 0.9);
    border: 1px solid #8b8c1d;
}

.rack {
    width: 210px;
    height: 30px;
    margin: 0px;
    font-size: 18px;
    line-height: 30px;
}

.rack .tile-elem-container {
    width: 14.28%;
    height: 100%;
    float: left;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
}

.rack .tile-elem-container .rack-letter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    z-index: 1;
    border: 1px solid #DCDCDC;
}

.rack .tile-elem-container .rack-letter.selected {
    background-color: rgba(228,228,228,0.85);
    border: 1px solid #bababa;
}

.is-turn {
    background: #f7fc50;
}

.game-btns a {
    margin-top: 0.5em;
}

.win-cont {
    text-align: center;
    position: absolute;
    width: 100%;
    background: rgba(255, 255, 187, 0.8);
    height: 75px;
    display: table;
    z-index: 2;
}

.win-cont-top {
    top: 150px;
    font-size: 1.718em;
}
.win-cont-top span {
    display: table-cell;
    vertical-align: bottom;
}

.win-cont-bot {
    bottom: 150px;
    font-size: 1.414em;
}
.win-cont-bot span {
    display: table-cell;
    vertical-align: top;
}