<template name="gameRoomForm">
    <div class="shard">
        <form class="main form">
            <div class="row">
                <h4 class="col-xs-12">Create game room</h4>
                <div class="form-group col-xs-12 {{errorClass 'title'}}">
                    <div class="controls">
                        <input name="title" id="title"
                               type="text" value=""
                               placeholder="Game room title"
                               class="form-control">
                        <span class="help-block">{{errorMessage 'title'}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-5 {{errorClass 'password'}}">
                    <div class="controls">
                        <input name="password" id="password"
                               type="password" value=""
                               placeholder="(optional) Room password"
                               class="form-control">
                        <span class="help-block">{{errorMessage 'password'}}</span>
                    </div>
                </div>
                <div class="form-group col-xs-4 {{errorClass 'maxPlayers'}}">
                    <div class="controls">
                        <input name="maxPlayers" id="maxPlayers"
                               type="number" value=""
                               placeholder="Max # players"
                               class="form-control"
                               min="1" max="8">
                        <span class="help-block">{{errorMessage 'maxPlayers'}}</span>
                    </div>
                </div>
                <div class="form-group col-xs-3">
                    <div class="controls">
                        <input type="submit" value="Submit" name="submit"
                               class="btn btn-primary"
                                style="width: 100%">
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>