<template name="gameRoom">
    <div class="game-room shard">
        <div class="game-room-well">
            <h4>
                {{#if passwordProtected}}
                    <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                {{/if}}
                {{title}}
            </h4>
            <p>by {{author}}</p>
            <p>Players: {{currentNumPlayers}}/{{maxPlayers}}</p>

            {{#if currentUser}}
                <a href="#" class="join btn btn-primary" style="width: 100%">
                    Join
                </a><br>
            {{/if}}
        </div>
    </div>
</template>