<template name="gameRoomsList">
    <div class="shard">
        <div class="row">
            <div class="col-xs-6 col-sm-4">
                Petra is a real-time, multiplayer word game.
            </div>
            <div class="col-xs-6 col-sm-4">
                Think: Scrabble online with up
                to 8 friends (or strangers).
            </div>
            <div class="hidden-xs col-sm-4">
                You can create private or public
                game rooms, and registering is as easy as typing in a username.
            </div>
        </div>
    </div>

    {{#if currentUser}}
        {{> gameRoomForm}}
    {{else}}
        {{> accountForm}}
    {{/if}}

    {{#if gameRooms.count}}
        <div class="game-rooms-container">
            {{#each gameRooms}}
                {{> gameRoom}}
            {{/each}}
        </div>
    {{else}}
        <div class="row">
            <div class="col-xs-12">
                There aren't any open games at the moment.
            </div>
        </div>
    {{/if}}
</template>